/include/ "system-conf.dtsi"
/ {
	compatible = "xlnx,zynq-7000";

	chosen {
		xlnx,eeprom = &eeprom50;
	};

	usb_phy0: phy0 {
		#phy-cells = <0>;
		compatible = "usb-nop-xceiv";
	};
};


&i2c0 {
	status = "okay";
	clock-frequency = <400000>;

	eeprom50: eeprom@50 {
		compatible = "atmel,24c64";
		size = <8192>;
		reg = <0x50>;
		pagesize = <32>;
	};

	eeprom51: eeprom@51 {
		compatible = "atmel,24c64";
		size = <8192>;
		reg = <0x51>;
		pagesize = <32>;
	};

	osc@55 {
		#clock-cells = <0>;
		compatible = "silabs,si571";
		reg = <0x55>;
		factory-fout = <100000000>;
		clock-frequency = <250000000>;
		temperature-stability = <50>;
	};
};

&usb0 {	
	status = "okay";
	dr_mode = "host";
	usb-phy = <&usb_phy0>;
};
